/* EXPIRIENCE CARD */

.expirience {
  border-inline-end: 0;
  border-block-end: 0;
}

.projects_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0;
  inline-size: 100%;
  block-size: 900px;
  position: relative;
}

.project {
  inline-size: 410px;
  block-size: 670px;
  margin: 10px 30px;
  overflow: hidden;
}

.projects_description {
  font-size: 22px;
  color: #fff;
}

.project::-webkit-scrollbar {
  inline-size: 0;
}


.button_container {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  z-index: 20;
}

.button {
  inline-size: 50px;
  block-size: 50px;
  border: 2px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}

.button:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.prev {
  background-image: url('../images/projects/prev.svg');
}

.next {
  background-image: url('../images/projects/next.svg');
}

.project_element-link {
  position: absolute;
  opacity: 0;
  inline-size: 100%;
  transition: opacity 0.6s linear;
  z-index: 5;
}

.project_element-link:focus {
  outline: none;
  border: 2px solid #fff;
}

.project_element {
  inline-size: 100%;
  block-size: 760px;
}

.project_element-link-active {
  opacity: 1;
  z-index: 10;
}


/* images */

.naomi {}

.ono_tebe_nado {}

.posmotri_v_okno {}

.slojno_sosredotochytsya {}

.zakryvaychi_tag {}