/* EXPIRIENCE CARD */

.expirience {
  border-inline-end: 0;
  border-block-end: 0;
}

.projects_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0;
  inline-size: 100%;
  block-size: 900px;
  position: relative;
}

.project {
  inline-size: 410px;
  block-size: 670px;
  margin: 10px 30px;
  overflow: hidden;
}

.projects_description {
  font-size: 22px;
  color: #fff;
}

.project::-webkit-scrollbar {
  inline-size: 0;
}

.button {
  /* position: absolute; */
  inline-size: 100%;
  block-size: 50px;
  border: none;
  background-color: var(--accentColor);
  /* background-image: url(../images/projects/free-icon-arrow-right-2040514.svg); */
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}

.button:hover {
  background-color: var(--alternateColor);
}

.project_element-link {
  position: absolute;
  opacity: 0;
  inline-size: 100%;
  transition: opacity 0.6s linear;
  z-index: 5;
}

.project_element {
  inline-size: 100%;
  block-size: 760px;
}

.project_element-link-active {
  opacity: 1;
  z-index: 10;
}


/* images */

.naomi {}

.ono_tebe_nado {}

.posmotri_v_okno {}

.slojno_sosredotochytsya {}

.zakryvaychi_tag {}