.page {
  display: flex;
  flex-direction: column;
  margin: 140px auto 0;
  font-family: var(--accentFont), sans-serif;
  background-color: var(--accentColor);
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  max-inline-size: 1200px;
}

.header {
  margin: 20px auto;
  border: 2px solid var(--accentColor);
  padding: 10px 100px;
  color: var(--accentColor);
  background-color: #141d3bdf;
  transition: all 0.3s linear;
  cursor: pointer;
  mix-blend-mode: difference;
}

.header:hover {
  border: 2px solid #fff;
  background-color: #142459df;
}

.title {
  font-size: 32px;
  animation: colorChange 1s 5s ease-in forwards;
}

.title>a {
  text-decoration: none;
}

.title::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  transform: rotateZ(0deg);
  transform-origin: 300%;
  animation: titleAnimation 1.8s 0.3s ease-in forwards,
    titleEffects 1.9s 1.8s linear, endEffect 2s 4s linear forwards;
  inline-size: 10px;
  block-size: 10px;
  scale: 0.1;
}

.title_description {
  font-size: 22px;
  animation: colorChange 1s 5.2s ease-in forwards;
}

.content {
  display: grid;
  gap: 50px;
  margin: 50px 20px;
}

.card_container {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
  border-block-start: 1px solid #ffffff;
  background-color: var(--backgroundColor);
}

.address-container {
  margin: 20px 10px;
  color: var(--accentColor);
}

.footer_menu-list {
  display: flex;
  color: var(--accentColor);
}

.footer_menu-item {
  margin-inline-end: 20px;
}