/* ABOUT CARD */

.about {
    display: flex;
    padding: 15px;
}

.about_info {
    display: flex;
    padding: 15px;
}

.section_content {
    padding: 10px;
    color: var(--alternateColor);
    transition: all 0.3s linear;
    inline-size: 80%;
    border: 2px solid transparent;
}

.section_content:hover {
    box-shadow: 9px 9px 0px 3px #000;
    background-color: var(--accentColor);
    border: 2px solid #fff;
}

.about_description {
    margin: 0 0 0 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
}

.about_image {
    background-color: var(--alternateColor);
    padding: 10px;
    margin: 10px 10px 10px 0;
    inline-size: 150px;
    block-size: 200px;
    float: left;
}

.hint_list {
    margin: 5px;
    margin-inline-start: 20px;
    color: white;
    font-size: 18px;
}

.hint_item {
    position: relative;
    margin-block-start: 10px;
    border: 2px solid transparent;
    padding: 10px 20px;
    color: #fff;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    background-color: var(--accentColor);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 120%;
    transition: all 0.3s linear;
}

.hint_item-text {
    position: relative;
    z-index: 100;
}

.hint_item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    inline-size: 100%;
    block-size: 100%;
    background-color: #0000007d;
}

.hint_item:hover {
    box-shadow: 3px 3px 0px 3px #000;
    border: 2px solid #fff;
}

/* images for hints */

.education {
    background-image: url('https://plus.unsplash.com/premium_photo-1661963874418-df1110ee39c1?q=80&w=1386&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.english {
    background-image: url('https://plus.unsplash.com/premium_photo-1668447247133-e5b6354a7763?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.art {
    background-image: url('../images/background.jpeg');
}

.chess {
    background-image: url('https://plus.unsplash.com/premium_photo-1675762226695-bec5748d4d00?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.volunteer {
    background-image: url('https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}