/* Animation */

@keyframes titleShining {
  from {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-50deg);
  }
}