/* Animation */

@keyframes titleShining {
  from {
    background-position: 50%;
  }

  50% {
    background-position: 130%;
  }

  to {
    background-position: 50%;
  }
}

@keyframes visualShining {
  from {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
  
}

@keyframes lineGrow {
  from {
    block-size: 0px;
  }
  to {
    block-size: 42px;
  }
}

@keyframes lineGrowSection {
  from {
    block-size: 0px;
  }
  to {
    block-size: 52px;
  }
}