/* EXPERIENCE CARD */

.experience {
  border-inline-end: 0;
  border-block-end: 0;
}

.projects_container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0;
  inline-size: 100%;
  block-size: 900px;
}

.project {
  margin: 10px 30px;
  overflow: hidden;
  inline-size: 410px;
  block-size: 670px;
}

.projects_description {
  color: #fff;
  font-size: 22px;
}

.project::-webkit-scrollbar {
  inline-size: 0;
}

.cles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 2px solid transparent;
  color: #fff;
  font-size: 26px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.button:focus {
  outline: none;
}

.secondTriangle {
  transition: all 0.3s;
}

.thirdTriangle {
  transition: all 0.3s;
}

.button:hover .secondTriangle {
  stroke: var(--fColor);
}

.project_element-link {
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.6s linear;
  inline-size: 100%;
}

.project_element-link:focus {
  border: 2px solid #fff;
  outline: none;
}

.project_element {
  inline-size: 100%;
  block-size: 760px;
}

.project_element-link-active {
  z-index: 10;
  opacity: 1;
}

.project_description {
  font-size: 22px;
  color: #fff;
}