/* EXPERIENCE CARD */

.experience {
  background-color: #91e69f10;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}


.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-block-start: 10px;
}

.projects_container {
  position: relative;
  display: block;
  inline-size: 100%;
  block-size: 900px
}

.projects_description {
  color: #fff;
  font-size: 22px;
  margin-block-end: 10px;
}

.project::-webkit-scrollbar {
  inline-size: 0;
}


.button {
  border: 1px solid transparent;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.button:focus {
  outline: none;
}

.secondTriangle {
  transition: all 0.3s;
}

.thirdTriangle {
  transition: all 0.3s;
}

.button:hover .secondTriangle {
  stroke: var(--fColor);
}

.project_element-link {
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.6s linear;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_element-link:focus {
  border: 2px solid #fff;
  outline: none;
}

.project_element {
  inline-size: 100%;
  max-block-size: 760px;
}

.project_element-link-active {
  z-index: 10;
  opacity: 1;
}

.project_description {
  font-size: 22px;
  color: #fff;
  margin-block-start: 20px;
}