.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    inline-size: 100%;
    block-size: 20vh;
    border: 2px solid #000;
    border-image: var(--mainPurple);
    border-image-slice: 1;
    background-color: var(--backgroundColor);
}

.address-container {
    margin: 20px 10px;
    color: var(--accentColor);
}

.footer_menu-list {
    display: flex;
    color: var(--accentColor);
}

.footer_menu-item {
    margin-inline-end: 20px;
}