/* INSTRUMENTARY CARD */

.instrumentary {
  justify-self: flex-end;
  background-color: #3b76a654;
  transition: all 0.3s;
}

.instrumentary_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instrumentary_item {
  border: 1px solid transparent;
  padding: 8px;
  transition: all 0.3s linear;
  text-align: center;
}

.instrumentary_item-link:focus {
  outline: none;
}

.instrumentary_item-link:focus-visible {
  outline: 1px solid #fff;
}

.instrumentary_item-image {
  inline-size: 48px;
  block-size: 48px;
}

.instrumentary_item-image-description {
  color: #3b76a6;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.instrumentary_item:hover {
  border-block-start: 1px solid #6500ac;
  border-inline-start: 1px solid #6500ac;
  box-shadow: 3px 3px 0px 2px #000;
}

.instrumentary_item:hover>a>figure>.instrumentary_item-image-description {
  color: #fff;
}